* {
    background-color: rgb(15, 17, 18);
}

#a1>a {
    color: rgb(240, 240, 240);
    background-color: rgb(50, 153, 194);
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    padding: 4px;
    font-size: 20px;
}

.swapTheme {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
}

button {
    background-image: url('https://static.thenounproject.com/png/2853798-200.png');
    background-size: 30px;
    width: 30px;
    height: 30px;
    border: 0;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1280px;
    color: white
}

h1 {
    color: rgb(223, 223, 223);
}

h2 {
    color: rgb(223, 223, 223);
}

p {
    color: rgb(223, 223, 223);
}

.login {
    color: rgb(216, 216, 216);
}

input {
    color: rgb(216, 216, 216);
}

form {
    color: rgb(216, 216, 216);
}

table {
    color: rgb(223, 223, 223);
}

span {
    color: rgb(223, 223, 223);
}

a {
    color: rgb(56, 171, 216);
}

textarea {
    color: rgb(223, 223, 223);
}