
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
}

.pai{
    margin: 0 auto;
    width: 1280px;
    padding: 20px 0;
    background: blue;
}

.filho{
    box-sizing: border-box;
    float: left;
    width: 640px;
    height: 300px;
    background: red;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    padding: 80px 0;
    color: white;
}