/*pegando TODOS os elementos do arquivo, T O D O S */

* {
    margin: 0;
    padding: 0;
}

div.menu {
    width: 900px;
    margin: 30px auto;
    text-align: center;
}

div.menu>a {
    text-decoration: none;
    color: black;
    padding: 4px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    margin: 0 10px;
}

div.img>img {
    width: 1350px
}