/*pegando TODOS os elementos do arquivo, T O D O S */

* {
    margin: 0;
    padding: 0;
    background-color: rgb(15, 17, 18);
    background-size: 100%;
}

div.menu {
    width: 900px;
    margin: 30px auto;
    text-align: center;
}


div.menu>a {
    
    background-image: none;
    text-decoration: none;
    color: rgb(219, 219, 219);
    padding: 4px;
    border: 1px solid rgb(218, 218, 218);
    font-size: 20px;
    margin: 0 10px;
}

div.img>img {
    background-image: none;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}