
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
}

.center{
    box-sizing: border-box;
    width: 1000px;
    margin: 0 auto; 
    background-color: gray;
}

.artigo{
    vertical-align: top;
    margin: 10px 17px;
    display: inline-block;
    width: 460px;
}