
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
}

ul.lista, .lista2{
    list-style-position: inside;
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 10px;
}

.lista li, .lista2 li{
    font-size: 18px;
    color : #4b4b4b;
}

.lista .item3, .lista2 .item3{ 
    font-weight: bold;
}